.about-container {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.mathe-img {
    height: 500px;
    margin: -20px 0px -70px 0px;
}

.edu-img {
    height: 500px;
    margin: -20px 0px -70px 0px;
}

.about-container h2 {
    margin-left: 40px;
}

