.about-container {
display: flex;
flex-direction: row;
justify-content: space-around;

}

.mathe-img {
    height: 300px;
    margin-left: 160px;
    margin-bottom: 50px;
    margin-top: 30px;
    
}

.edu-img {
    height: 300px;
    margin-left: 160px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.about-container h2 {
    margin-left: 200px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    display:inline-block;
    padding: 10px;
    border-style: ridge;
}

.about-text {
display:inline-block;
justify-content: space-around;
text-decoration: none;
text-align: center;
background-color: whitesmoke;
padding: 10px;
margin-bottom: 30px;
margin-left: 20px;
font-size: 15px;
border-style: ridge;
border-width: thick;
}

.logo {
    height:35px;
    width:35px;
    letter-spacing: 1px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}
