    ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
  }
  
  li a {
    display: flex;
    color: #423F33;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    flex-direction: row;
  }

  .nav-logo {
    width: 370px;
    height: 100px;
position: sticky;

  }

 