  .nav-style {
    list-style: none;
    
    font-size: 25px;
    display: flex;
    margin-right: 70px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
   
  .nav-style a {
    text-decoration: none;
  }

  .nav-logo {
    height: 250px;
    width: 250px;
  }