.ranking-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    text-align: center;
    line-height: 3px;
    justify-content: space-around;
    font-family: 'Quicksand Book', sans-serif;
}

.ranking-list img {
    border-radius: 15%;
    width: 400px;
    height: 300px;
}

.flag img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin-left: 40px;
    line-height: 1.5px;
    margin-bottom: 15px;
}

.rank-border {
    margin-top: 30px;
    margin-bottom: 60px;
}