body {
  margin: 0;
  font-family: 'Quicksand Book', sans-serif;
  background-color: #EFE6C9;
  
}

code {
  font-family: 'Quicksand Book', sans-serif;
}

html {
  font-family: 'Quicksand Book', sans-serif;
}